body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	font-size: .12rem;
	position: relative;
	overflow: hidden;
}
header{
	height: .36rem;
	line-height: .36rem;
	background: #1b1b1f;
	position: relative;
	color: #ffffff;
	.left{
		position: absolute;
		left: 0.1rem;
		top:0rem;
	}
	.right{
		position: absolute;
		right: 0.1rem;
		top:0rem;
		line-height: .4rem;
	}
	.tit{
		text-align: center;
		font-size: .15rem;
	}
}
section{
	flex:1;
	background: #fafafa;
	.top{
		height: .4rem;
		display: flex;
		line-height: .4rem;
		text-align: center;
		background: #fafafa;
		.loc{
			flex:2.5;
			color: #555555;
			select{
				outline: none;
				border-width:0;
				}
		}
		.search{
			flex:5;
			input{
				width: 100%;
				height: .22rem;
				border:1px solid #efefef;
				padding-left: .1rem;

			}
			::-webkit-input-placeholder{
				font-size: .1rem;
				color: #aaaaaa;
				text-align: center;
			}

		}
		.info{
			flex:2.5;
			color: #1d1d1d;
			i{
				padding-right: .08rem;
			}
		}
	}
	.banner{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.msg{
		height: .14rem;
		line-height: .14rem;
		background: #ffffff;
		margin-top: .03rem;
		margin-bottom: .07rem;
		position: relative;
		&>i{
			position: absolute;
			color: #9d9d9d;
			right: .1rem;
		}
		span{
			font-size: .1rem;
			i{
				color: #ffbb4c;
				padding: 0 .03rem;
			}
			color:#bebebe;

		}
	}
	.list{
		height: .37rem;
		line-height: .37rem;
		text-align: center;
		color: #000000;
		font-size: .14rem;
		background: #ffffff;
		i{
			color: #444444;
			padding-left: .05rem;
		}
	}
	.bottom{
		display: flex;
		padding-left: .15rem;
		padding-right: .15rem;
		dt{
			flex:1;
			margin-right: 2%;
			img{
				width: 100%;
			}

		}
		dd{
			flex:1;
			margin-left: 2%;
			img{
				width: 100%;
			}
		}
	}
	.wrap{
		display: flex;
		.left{
			width: 20%;
			border-left: 1px solid #f1f1f1;
			li{
				height: .45rem;
				line-height: .45rem;
				color: #b2b2b2;
				font-size: .1rem;
				text-align: center;
			}
			.active{
				color: #4e4e4e;
				font-size: .11rem;
			}
		}
		.right{
			width: 80%;
			li{
				margin-bottom: .08rem;
				img{
					width: 100%;
				}
			}

		}
	}
}
footer{
	height: .41rem;
	background: #ffffff;
	border-top: 1px solid #f1f1f1;
	ul{
		display: flex;
		li{
			flex:1;
			text-align: center;
			i{
				color: #838383;
				padding-top: .03rem;
			}
			p{
				color: #b6b6b6;
				font-size: .1rem;
				padding-top: .03rem;
			}
		}
		.active{
			i{
				color: #ff5541;
			}
			p{
				color: #ff7362;
			}
		}
	}
}
.searchbox{
	position: absolute;
	left: 0;
	right: 0;
	top:100%;
	height: 100%;
    z-index: 111;
	background: #ffffff;
	transition:all 1s;
	.top{
		display: flex;
		height: .4rem;
		padding-top: .1rem;
		.left{
			flex:8.5;
			padding-left: .08rem;
			padding-right: .08rem;
			input{
				height: .22rem;
				width: 100%;
				border:none;
				border-bottom: 1px solid #515151;
				padding-left: .1rem;
			}
			::-webkit-input-placeholder{
				font-size: .1rem;
				color: #aaaaaa;
			}
		}
		.right{
			flex:1.5;
			color: #3e3e3e;
			text-align: center;
		}
	}
	.remen{
		height: .5rem;
		line-height: .5rem;
		color: #000000;
		font-size: .15rem;
		padding-left: .15rem;
	}
	.message{
		padding: 0 .2rem;
		span{
			display: inline-block;
			padding: .05rem .1rem;
			background: #ebeaed;
			border-radius: 15px;
			color: #8a8a8b;
			font-size: .11rem;
			margin: .04rem .02rem;
		}
	}
}
.tops{
	top:36px;
}
